<div class="section" id="footer">
    <div class="container has-text-centered">
    {{ with .Site.Params.footerText }}
        {{ . | markdownify }}
    {{ else }}
        <span class="footer-text">
            {{ i18n "footer_text" . | markdownify }}
        </span>
        <p>
        <a href='http://www.beian.miit.gov.cn/' target='_blank' style="font-size:12.8px;color:#4A4A4A">粤ICP备19072716号-1</a>
        </p>
        <script type="text/javascript" src="//js.users.51.la/20196435.js"></script>
    {{ end }}
    </div>
</div>
